<h1> <%= @destination.to_s %> </h1>

<%= image_tag @destination.img_url %>

<ul>
  <li> <%= @destination.alias %> </li>
  <li> <%= @destination.title %> </li>
  <li> <%= @destination.office %> </li>
</ul>
